FileAdapterApplications/ReadFileInChunks/SOA/WSDLs/fileService.wsdl

<wsdl:definitions
     name="fileService"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/FileAdapterApplications/ReadFileInChunks/fileService"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/FileAdapterApplications/ReadFileInChunks/fileService"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ChunkedRead_plt" >
    <plt:role name="ChunkedRead_role" >
      <plt:portType name="tns:ChunkedRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="ChunkedRead_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="ChunkedRead_ptt">
        <wsdl:operation name="ChunkedRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:ChunkedRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
